{{ partial "header_post.html" . }}

<div id="content" class="site-content">

  <div id="primary" class="content-area">
  	<main id="main" class="site-main" role="main">

      <article id="post-8" class="post-8 page type-page status-publish hentry">

      	<header class="entry-header">

          {{ if (isset .Params "featured_image") }}
          <a href="{{ .Permalink }}" title="{{ .Title }}" >
            <img width="800" height="533" src="{{ .Params.featured_image }}" alt="{{ .Title }}" />
          </a>
          {{ end }}

      		<h1 class="entry-title">{{ .Title }}</h1>
          <small class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</small>

      	</header><!-- .entry-header -->

      	<div class="entry-content">
          {{ .Content }}
          ---<br>
          <div class="addthis_sharing_toolbox" style="text-align:left;margin:10px auto"></div>

          <section class='email-subscribe-text'>
            To get the latest high-quality articles on
            technology, software development and productivity
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=MarcoTroisi&amp;loc=en_US">subscribe by email</a>.
          </section>
        </div>

      </article>
    </main>
  </div>

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57447ba9c6ac9bf7"></script>

{{ partial "footer.html" . }}
