</div><!-- #content -->

  <nav id="footer-menu" class="menu horizontal-menu footer-menu" role="navigation">
    <ul>
    <li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-183"><a href="{{ .Site.BaseURL }}/">Home</a></li>
    <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="{{ .Site.BaseURL }}/about/">About Me</a></li>
    <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="{{ .Site.BaseURL }}/contact/">Contact</a></li>
    </ul>
    <ul id="social-menu">
      <li><a target="_blank" href="http://www.github.com/marcotroisi">Github</a></li>
      <li><a target="_blank" href="http://www.twitter.com/marcotroisi">Twitter</a></li>
      <li><a target="_blank" href="http://www.linkedin.com/in/marcotroisi">LinkedIn</a></li>
    </ul>
  </nav><!-- #footer-menu -->

	<footer id="colophon" class="site-footer" role="contentinfo">

  <div class="site-colophon">
		<p>© 2016 Marco Troisi</p>
	</div><!-- .site-colophon -->

	</footer><!-- #colophon -->
</div><!-- #page -->
