      <footer class="site__footer">
        <ul>
            <li><a href="https://github.com/marcotroisi">github</a>
            <li><a href="https://twitter.com/marcotroisi">twitter</a>
            <li><a href="https://www.linkedin.com/in/marcotroisi/?locale=en_US">linkedin</a>
            <li><a href="https://theserverlessmindset.com">newsletter</a>
        </ul>
      </footer>

    </div>

    

    <script>
    $(document).ready(function(){
       $(".show__thumb a").mousemove(function(e){
           $('.blog__thumb').offset({left: e.pageX, top: e.pageY - $('.blog__thumb img').height()/2 });
       });
       $(".show__image h1").mousemove(function(e){
           $('.blog__image').offset({left: e.pageX, top: e.pageY - $('.blog__image img').height()/2 });
       });
   });
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f2ae53b2-5378-4f95-bec3-614681b6c1e3"></script>

  </body>
</html>
