{{ partial "header.html" . }}

<div id="content" class="site-content">

<section id="primary" class="content-area">

	<!-- SEARCH -->
	<div class='searchForm'>
		<script>
		  (function() {
		    var cx = '004140550115655549566:cnxs0xt2pme';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
	</div>
	<!-- END SEARCH -->

	<main id="main" class="site-main" role="main">

	    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
	    {{ range $paginator.Pages }}
	        {{ .Render "summary"}}
	    {{ end }}

    <div class="pagination-wrapper">
	    {{ template "_internal/pagination.html" . }}
    </div>

  </main><!-- #main -->
</section><!-- #primary -->

{{ partial "footer.html" . }}
